* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/jaguar-xe.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  height: auto;
  margin: 80px;
  padding: 2px 30px 30px 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  margin-bottom: 150px;
  color: white;
  border-radius: 3px;
  background-color: #DB3030;
}
